html {
  background-image: radial-gradient(circle closest-side, #20b08f, #fc8760);
}

h1 {
  font-family: "Old Standard TT", serif;
  letter-spacing: 10px;
}

blockquote {
  font-family: "PT Serif", serif;
}

.btn, .card-button {
  font-family: Georgia, serif;
}

.blurb {
  font-family: "PT Serif", serif;
}

.blurb-wrapper {
  color: #000;
  max-width: 400px;
  background-color: #20b08f;
  border-radius: 5px;
  border-right: 10px solid #60fcd8;
  border-bottom: 10px solid #60fcd8;
}

.blurb-wrapper:hover {
  border: 10px solid #60fcd8;
  color: #fff;
}

@media only screen and (min-width: 60em) {

  .wrapper {
    margin-top: 100px;
  }

}
