html {
  background-image: radial-gradient(circle closest-side, #20b08f, #fc8760);
}

h1 {
  font-family: "Old Standard TT", serif;
  letter-spacing: 10px;
}

blockquote {
  font-family: "PT Serif", serif;
}

.btn {
  font-family: Georgia, serif;
}

@media only screen and (min-width: 60em) {

  .wrapper {
    margin-top: 100px;
  }

}
